html {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(#A168F9, #1c1cab);
}
.words {
    font-size: 25px;
    color: white;
    text-align: center;
}
.contacts {
    font-size: 20px;
}
#title {
    font-size: 50px;
    font-weight: bold;
}
.heading {
    font-size: 30px;
    font-weight: bold;
}
img {
    border-style: solid;
    border-width:3px;
    border-radius: 25px;
    width: 0;
}
button {
    font-size: 15px;
    background-color: #4a4ae3;
    color: #fff;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
}
hr {
    width: 30%;
}
#tiles {
    margin-left: 33%;
    width: 50%;
}
#honerRoll {
    margin-left: 25%;
    width: 50%;
}
.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#filler {
    height: 83px;
}